<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GTRX - Intégrations</title>
    <meta name="description" content="Page d'intégrations de GRUM." />
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/integrations.min.css" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const buttons = document.querySelectorAll('.integration__button');
            const lists = document.querySelectorAll('.integration__list');

            buttons.forEach(button => {
                button.addEventListener('click', () => {
                    buttons.forEach(btn => btn.classList.remove('active'));
                    button.classList.add('active');

                    const target = button.getAttribute('data-target');
                    lists.forEach(list => {
                        if (list.id === target) {
                            list.classList.add('active');
                        } else {
                            list.classList.remove('active');
                        }
                    });
                });
            });

            if (buttons.length > 0) {
                buttons[0].click();
            }
        });
    </script>
</head>

<body>
    <main>
        <header class="header">
            <nav class="header__nav">
                <div class="header__logo">
                    <a href="/index.html">
                        <img src="/assets/img/logo.svg" alt="Logo GRUM" href="/index.html">
                    </a>
                </div>
                <a href="/index.html" class="header__back-arrow">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </nav>
        </header>

        <section class="integration">
            <h1 class="integration__title">INTÉGRATIONS</h1>
            <p class="integration__description">Discover the power of $GTRX. Trade on platforms, manage your assets with popular wallets, and even book travel. See where your $GTRX can get you !</p>
            <div class="integration__buttons">
                <button class="integration__button active" data-target="featured">FEATURED</button>
                <button class="integration__button" data-target="cex">CEX</button>
                <button class="integration__button" data-target="dex">DEX</button>
                <button class="integration__button" data-target="wallet">WALLET</button>
                <button class="integration__button" data-target="platforms">PLATFORMS</button>
            </div>
            <div class="integration__lists">
                <div class="integration__list active" id="featured">
                    <a href="https://twitter.com/grumcointrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/social-x.svg" alt="Twitter Integration" class="integration__card-image">
                            <h3 class="integration__card-title">TWITTER</h3>
                            <p class="integration__card-description">Join the Grumpy Team on X.</p>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/grumcointrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/social-instagram.svg" alt="Instagram Integration" class="integration__card-image">
                            <h3 class="integration__card-title">INSTAGRAM</h3>
                            <p class="integration__card-description">Supports Instagram posts.</p>
                        </div>
                    </a>
                    <a href="https://t.me/grumcointrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/social-telegram.svg" alt="Telegram Integration" class="integration__card-image">
                            <h3 class="integration__card-title">TELEGRAM</h3>
                            <p class="integration__card-description">Join a list on a platform that doesn't leak anything.</p>
                        </div>
                    </a>
                    <a href="https://linktr.ee/grumcointrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/social-linktree.svg" alt="Linktree Integration" class="integration__card-image">
                            <h3 class="integration__card-title">LINKTREE</h3>
                            <p class="integration__card-description">Access all our extensions.</p>
                        </div>
                    </a>
                </div>

                <div class="integration__list" id="cex">
                    <div class="integration__card">
                        <img src="/assets/img/loading.gif" alt="CEX Integration" class="integration__card-image">
                        <h3 class="integration__card-title">SOON</h3>
                        <p class="integration__card-description">Coming soon...</p>
                    </div>
                </div>

                <div class="integration__list" id="dex">
                    <div class="integration__card">
                        <img src="/assets/img/loading.gif" alt="DEX Integration" class="integration__card-image">
                        <h3 class="integration__card-title">SOON</h3>
                        <p class="integration__card-description">Coming soon...</p>
                    </div>
                </div>

                <div class="integration__list" id="wallet">
                    <div class="integration__card">
                        <img src="/assets/img/tronlink.svg" alt="Wallet Integration" class="integration__card-image">
                        <h3 class="integration__card-title">TRONLINK</h3>
                        <p class="integration__card-description">Manage and trade $GTRX seamlessly with Tron, the most popular Tron wallet.</p>
                    </div>
                </div>

                <div class="integration__list" id="platforms">
                    <a href="#" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/social-sunpump.svg" alt="Platforms Integration" class="integration__card-image">
                            <h3 class="integration__card-title">SUNPUMP</h3>
                            <p class="integration__card-description">Manage and trade $GTRX seamlessly with SunPump, the most popular Tron Platform.</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <script src="/js/script.min.js" async crossorigin></script>
</body>

</html>