<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GTRX - Intégrations</title>
    <meta name="description" content="Page d'intégrations de GRUM." />
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/integrations.min.css" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const buttons = document.querySelectorAll('.integration__button');
            const lists = document.querySelectorAll('.integration__list');

            buttons.forEach(button => {
                button.addEventListener('click', () => {
                    buttons.forEach(btn => btn.classList.remove('active'));
                    button.classList.add('active');

                    const target = button.getAttribute('data-target');
                    lists.forEach(list => {
                        if (list.id === target) {
                            list.classList.add('active');
                        } else {
                            list.classList.remove('active');
                        }
                    });
                });
            });

            if (buttons.length > 0) {
                buttons[0].click();
            }
        });
    </script>
</head>

<body>
    <main>
        <header class="header">
            <nav class="header__nav">
                <div class="header__logo">
                    <a href="/index.html">
                        <img src="/assets/img/data/logo.svg" alt="Logo GRUM" href="/index.html">
                    </a>
                </div>
                <a href="/index.html" class="header__back-arrow">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </nav>
        </header>

        <section class="integration">
            <h1 class="integration__title">INTÉGRATIONS</h1>
            <p class="integration__description">Discover the power of $GTRX. Trade on platforms, manage your assets with popular wallets, and even book travel. See where your $GTRX can get you !</p>
            <div class="integration__buttons">
                <button class="integration__button active" data-target="featured">FEATURED</button>
                <button class="integration__button" data-target="listings">LISTINGS</button>
                <button class="integration__button" data-target="cex">CEX</button>
                <button class="integration__button" data-target="dex">DEX</button>
                <button class="integration__button" data-target="wallet">WALLET</button>
                <button class="integration__button" data-target="platforms">PLATFORMS</button>
                <button class="integration__button" data-target="store">STORE</button>
            </div>
            <div class="integration__lists">
                <div class="integration__list active" id="featured">
                    <a href="https://twitter.com/grumcointrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/featured/social-x.svg" alt="Twitter Integration" class="integration__card-image">
                            <h3 class="integration__card-title">TWITTER</h3>
                            <p class="integration__card-description">Join the Grumpy Team on X.</p>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/grumcointrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/featured/social-instagram.svg" alt="Instagram Integration" class="integration__card-image">
                            <h3 class="integration__card-title">INSTAGRAM</h3>
                            <p class="integration__card-description">Supports Instagram posts.</p>
                        </div>
                    </a>
                    <a href="https://t.me/grumcointrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/featured/social-telegram.svg" alt="Telegram Integration" class="integration__card-image">
                            <h3 class="integration__card-title">TELEGRAM</h3>
                            <p class="integration__card-description">Join a list on a platform that doesn't leak anything.</p>
                        </div>
                    </a>
                    <a href="https://linktr.ee/grumcointrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/featured/social-linktree.svg" alt="Linktree Integration" class="integration__card-image">
                            <h3 class="integration__card-title">LINKTREE</h3>
                            <p class="integration__card-description">Access all our extensions.</p>
                        </div>
                    </a>
                    <a href="https://audius.co/SonicLifeforms/gtrx-anthem" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/featured/social-audius.svg" alt="Audius Integration" class="integration__card-image">
                            <h3 class="integration__card-title">AUDIUS</h3>
                            <p class="integration__card-description">Check out amazing tracks on youtube.</p>
                        </div>
                    </a>
                    <a href="https://music.youtube.com/watch?v=aNLoisLtzqY&si=z_WbqLPO5FFQF5JW" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/featured/social-youtube.svg" alt="Youtube Integration" class="integration__card-image">
                            <h3 class="integration__card-title">YOUTUBE</h3>
                            <p class="integration__card-description">Listen #grumpies anthem.</p>
                        </div>
                    </a>
                </div>

                <div class="integration__list" id="cex">
                    <div class="integration__card">
                        <img src="/assets/img/integrations/loading.gif" alt="CEX Integration" class="integration__card-image">
                        <h3 class="integration__card-title">SOON</h3>
                        <p class="integration__card-description">Coming soon...</p>
                    </div>
                </div>

                <div class="integration__list" id="dex">
                    <div class="integration__card">
                        <img src="/assets/img/integrations/loading.gif" alt="DEX Integration" class="integration__card-image">
                        <h3 class="integration__card-title">SOON</h3>
                        <p class="integration__card-description">Coming soon...</p>
                    </div>
                </div>

                <div class="integration__list" id="wallet">
                    <div class="integration__card">
                        <img src="/assets/img/integrations/wallet/tronlink.svg" alt="Wallet Integration" class="integration__card-image">
                        <h3 class="integration__card-title">TRONLINK</h3>
                        <p class="integration__card-description">Manage and trade $GTRX seamlessly with Tron, the most popular Tron wallet.</p>
                    </div>
                </div>

                <div class="integration__list" id="platforms">
                    <a href="https://sunpump.meme/token/TPmPPtsiqHoNPT1XHpudt3L6VAwyuVJ1Sq" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/platforms/sunpump.svg" alt="Platforms Integration" class="integration__card-image">
                            <h3 class="integration__card-title">SUNPUMP</h3>
                            <p class="integration__card-description">Manage and trade $GTRX seamlessly with SunPump, the most popular Tron Platform.</p>
                        </div>
                    </a>
                </div>

                <div class="integration__list" id="listings">
                    <a href="https://coinvote.cc/en/coin/GTRX" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/listings/coinvote.svg" alt="Listings Integration" class="integration__card-image">
                            <h3 class="integration__card-title">CoinVote</h3>
                            <p class="integration__card-description">Your gateway to rising crypto, NFTs, and meme coins.</p>
                        </div>
                    </a>
                    <a href="https://moontok.io/coins/gtrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/listings/moontok.svg" alt="Listings Integration" class="integration__card-image">
                            <h3 class="integration__card-title">Moontok</h3>
                            <p class="integration__card-description">Chinese Token Listing Platform targeted for the global market.</p>
                        </div>
                    </a>
                    <a href="https://coingem.com/tron/TPmPPtsiqHoNPT1XHpudt3L6VAwyuVJ1Sq" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/listings/coingem.svg" alt="Listings Integration" class="integration__card-image">
                            <h3 class="integration__card-title">CoinGem</h3>
                            <p class="integration__card-description">Research, buy and earn.</p>
                        </div>
                    </a>
                    <a href="https://www.coinscope.co/coin/gtrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/listings/coinscope.svg" alt="Listings Integration" class="integration__card-image">
                            <h3 class="integration__card-title">CoinScope</h3>
                            <p class="integration__card-description">Coinscope is a Web3 platform that bridges blockchain projects and crypto investors.</p>
                        </div>
                    </a>
                    <a href="https://coinmooner.com/coin/gtrx-gtrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/listings/coinmooner.svg" alt="Listings Integration" class="integration__card-image">
                            <h3 class="integration__card-title">CoinMooner</h3>
                            <p class="integration__card-description">CoinMooner is a platform that aims to make cryptocurrencies more accessible, easy, and fun to use.</p>
                        </div>
                    </a>
                    <a href="https://coindiscovery.app/coin/gtrx/overview" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/listings/coindiscovery.svg" alt="Listings Integration" class="integration__card-image">
                            <h3 class="integration__card-title">CoinDiscovery</h3>
                            <p class="integration__card-description">Get crypto analysis, news and updates right to your inbox! Sign up here so you don't miss a single newsletter.</p>
                        </div>
                    </a>
                    <a href="https://coincatapult.com/coin/gtrx-gtrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/listings/coincatapult.svg" alt="Listings Integration" class="integration__card-image">
                            <h3 class="integration__card-title">CoinCatapult</h3>
                            <p class="integration__card-description">Discover the newest cryptocurrency projects! Vote for your favorite coins, and see what's trending.</p>
                        </div>
                    </a>
                    <a href="https://coinmun.com/coins/gtrx" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/listings/coinmun.svg" alt="Listings Integration" class="integration__card-image">
                            <h3 class="integration__card-title">CoinMun</h3>
                            <p class="integration__card-description">Explore the most popular cryptocurrencies today on CoinMun, the ultimate crypto directory.</p>
                        </div>
                    </a>
                </div>

                <div class="integration__list" id="store">
                    <a href="https://www.gtrx.shop" target="_blank" class="integration__card-link">
                        <div class="integration__card">
                            <img src="/assets/img/integrations/store/shop.svg" alt="Store Integration" class="integration__card-image">
                            <h3 class="integration__card-title">STORE</h3>
                            <p class="integration__card-description">Where tech-driven design meets sustainable fashion. Shop innovative, stylish apparel for the modern world.</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <script src="/js/script.min.js" async crossorigin></script>
</body>

</html>