<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTRX - Sign a Grumpy Pact</title>
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/pact.min.css">
</head>

<body>
    <div class="logo-container">
        <a href="/index.html">
            <img src="/assets/img/logo.svg" alt="Grumpy Pact Logo" class="logo">
        </a>
    </div>

    <h1 class="grum-title">GRUM</h1>

    <div class="container">
        <a href="/templates/integrations.html" class="back-arrow" title="Retour">
            <i class="fas fa-arrow-left" aria-hidden="true"></i>
            <span class="sr-only">Retour</span>
        </a>
        <h2 class="main-title">SIGN A GRUMPY PACT</h2>
        <div id="signature-container">
            <canvas id="signature-pad" aria-label="Signature Pad"></canvas>
        </div>
        <button id="action-button" disabled>SIGN HERE</button>
    </div>

    <section class="socials">
        <div class="socials__container">
            <h2 class="socials__title">SOCIALS</h2>
            <p class="socials__description">JOIN THE GRUMPY CULT !</p>
            <div class="socials__links">
                <a href="https://twitter.com/grumcointrx" target="_blank" class="socials__link" aria-label="Twitter">
                    <img src="/assets/img/x.svg" alt="Twitter Icon" class="socials__icon" />
                </a>
                <a href="https://t.me/grumcointrx" target="_blank" class="socials__link" aria-label="Telegram">
                    <img src="/assets/img/telegram.svg" alt="Telegram Icon" class="socials__icon" />
                </a>
                <a href="https://www.instagram.com/grumcointrx" target="_blank" class="socials__link" aria-label="Instagram">
                    <img src="/assets/img/instagram.svg" alt="Instagram Icon" class="socials__icon" />
                </a>
                <a href="https://linktr.ee/grumcointrx" target="_blank" class="socials__link" aria-label="Linktree">
                    <img src="/assets/img/linktree.svg" alt="Linktree Icon" class="socials__icon" />
                </a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <a href="/templates/rednote.html" class="rednote">REDNOTE</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
    <script src="/js/script.min.js" async crossorigin></script>
</body>

</html>