<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coming Soon</title>
  <link rel="stylesheet" href="/css/shop.min.css">
  <link rel="icon" href="/assets/img/data/favicon.png" sizes="16x16" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="header-container">
        <div class="logo">
          <a href="/index.html">
            <img src="/assets/img/data/logo.svg" alt="Logo">
          </a>
        </div>
        <div class="password-form-container">
          <form class="password-form" action="#" method="post">
            <input type="password" placeholder="Enter your password" required>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </header>
    <main>
      <div class="coming-soon">
        <h1>Opening Soon</h1>
        <p>Be the first to know when we launch.</p>
        <form class="email-form" action="#" method="post">
          <input type="email" placeholder="Email" required>
          <button type="submit">Notify Me</button>
        </form>
      </div>
    </main>
    <footer>
      <div class="footer-social">
        <a href="https://t.me/grumtrx" target="_blank" title="Telegram"><i class="fa-brands fa-telegram"></i></a>
        <a href="https://www.instagram.com/grumcointrx/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://x.com/grumtrx" target="_blank" title="X"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.threads.net/@grumcointrx" target="_blank" title="Thread"><i class="fa-brands fa-threads"></i></a>
      </div>
      <div class="footer-powered">
        <p>Powered by style</p>
      </div>
    </footer>
  </div>
  <script>
    document.querySelector('.password-form').addEventListener('submit', function(e) {
      e.preventDefault();
      this.classList.add('shake');
      setTimeout(() => { this.classList.remove('shake'); }, 500);
    });
    document.querySelector('.email-form').addEventListener('submit', function(e) {
      e.preventDefault();
      window.location.href = 'thankyou.html';
    });
  </script>
</body>
</html>