<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You</title>
  <link rel="stylesheet" href="/css/shop.min.css">
  <link rel="icon" href="/assets/img/data/favicon.png" type="image/x-icon" sizes="16x16" />
</head>
<body>
  <div class="thankyou-wrapper">
    <div class="thankyou-container">
      <h1>Thank You !</h1>
      <p>Your email has been successfully recorded.</p>
      <a href="/index.html" class="return-button">Return</a>
    </div>
  </div>
</body>
</html>